---js
const eleventyNavigation = {
	key: "Koti",
	order: 1
};

const numberOfLatestPostsToShow = 3;
---

<h1>Tervetuloa Teuvon kotisivuille</h1>
<p>Tämä on harjoittelua WordPress-siirtymästä Eleventyyn. Vaikuttaa siltä, että tämä virallinen base blog on ihan riittävä 1.0 versioon WordPressistä pois siirtymästä. Tähän vain omia CSS-säätöjä näin aluksi.</p>


{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h2>Viimeisimmät {{ latestPostsCount }} artikkelia{% if latestPostsCount != 1 %}{% endif %}</h2>

{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<p>{{ morePosts }} artikkelia{% if morePosts != 1 %}{% endif %} lisää löytyy <a href="blog.njk">blogiarkistosta</a>.</p>
{% endif %}

{# List every content page in the project #}
{#
<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>
#}
